<!doctype html>
<html>
    <head>
        <title>HEAL Esport</title>
    </head>
    <body style="background-color: rgb(61, 61, 61);">
        <h1 style="color: rgb(241, 64, 122);">HEAL Esport teszt weboldala</h1>
        {% block content %}
        {% endblock %}
        <br>
        <br>
        <a href="https://docs.google.com/spreadsheets/d/11I7Cy9_Op0b9MjERMxkCZzyRP_o2qO3WXIVOhRB39gk/edit?usp=sharing">google táblázat az emailekről</a>
        <br>
        <p>Készítette: Szécsi Szabolcs</p>
    </body>
</html>